.race-summary > div:not(:last-of-type) {
	margin-bottom: 10px;
}

.name {
	font-weight: bold;
	font-size: 36px;
	line-height: 40px;
}

.detail-key {
	font-weight: bold;
}

.entries-list {
	list-style-type: disc;
	margin-left: 30px;
}

.entries-list li {
	/* padding-left: 30px; */
}

.entries-list li:not(:last-of-type) {
	margin-bottom: 5px;
}

.entry-name {
	font-weight: bold;
}
