.detail-container {
    display: flex;
    align-items: center;
    &:not(:last-of-type) { margin-bottom: 10px; }
}

.detail-name {
    flex: 0 120px;
    font-weight: bold;
}

.detail-value { flex: 0 0; }