main {
	min-height: calc(100vh - 50px);
}

footer {
	height: 50px;
	background: #000;
	color: #fff;
	position: relative;
}

footer p {
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}

.container {
	position: relative;
	display: block;
	margin: auto;
	padding: 0 30px;
	max-width: 1300px;
}

.site-header {
	padding: 30px 0;
	background: aliceblue;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.main-flex-wrap {
	display: flex;
	flex-direction: row;
}

.character-builder-wrap,
.character-summary-wrap {
	flex: 1;
	font-family: "Roboto", sans-serif;
}

.section-header {
	font-weight: bold;
	font-size: 36px;
	line-height: 32px;
	margin-bottom: 30px;
}

select {
	border-radius: none;
	border: none;
	padding: 5px 8px;
}